.payroll_icons_70df3668 {

  box-sizing: border-box;
  color: var(--text-title);
  display: block;
  flex-shrink: 0;
  font-family: "Open Sans";
  font-size: 10px;
  font-weight: 600;
  height: 18px;
  line-height: 20px;
  width: 24px;

}

.vector_678a0d5 {

  box-sizing: border-box;

}

.ftp_1f19c342 {

  box-sizing: border-box;
  color: var(--text-title);
  font-family: "Open Sans";
  font-size: 10px;
  font-weight: 600;
  line-height: 20px;

}