.table_head_1d987343 {

  align-items: center;
  background-color: var(--surfaces-layer-03);
  border-bottom: 1px solid var(--borders-default-border-strong);
  border-radius: 0px;
  color: var(--text-subtleleast);
  display: flex;
  flex-direction: row;
  font-family: var(--bodytext-regular-semibold-font-family, "Open Sans");
  font-size: var(--bodytext-regular-semibold-font-size, 16px);
  font-weight: var(--bodytext-regular-semibold-font-weight, 600);
  gap: 8px;
  height: 40px;
  line-height: var(--bodytext-regular-semibold-line-height, 16px);
  padding: 12px 16px 12px 12px;
  width: 206px;

}

.table_cell_3104d8ad {

  color: var(--text-subtleleast);
  font-family: var(--bodytext-regular-semibold-font-family, "Open Sans");
  font-size: var(--bodytext-regular-semibold-font-size, 16px);
  font-weight: var(--bodytext-regular-semibold-font-weight, 600);
  line-height: var(--bodytext-regular-semibold-line-height, 16px);

}

.sort_1a75d823 {

  color: var(--text-subtleleast);
  font-family: "Font Awesome 6 Pro";
  font-size: 12px;
  font-weight: 900;
  line-height: 12px;

}