.button_32b55cee {

  align-items: center;
  background-color: var(--brand-background-secondary-background);
  border-radius: 4px;
  border: 1px solid var(--borders-brand-primary-disabled);
  box-sizing: border-box;
  color: var(--brand-text-disabled);
  display: flex;
  flex-direction: row;
  font-family: var(--bodytext-small-semibold-font-family, "Open Sans");
  font-size: var(--bodytext-small-semibold-font-size, 14px);
  font-weight: var(--bodytext-small-semibold-font-weight, 600);
  gap: 0px;
  height: 32px;
  justify-content: center;
  line-height: var(--bodytext-small-semibold-line-height, 16px);
  padding: 8px 16px 8px 16px;
  width: 71px;

}

.button_34c76446 {

  box-sizing: border-box;
  color: var(--brand-text-disabled);
  font-family: var(--bodytext-small-semibold-font-family, "Open Sans");
  font-size: var(--bodytext-small-semibold-font-size, 14px);
  font-weight: var(--bodytext-small-semibold-font-weight, 600);
  line-height: var(--bodytext-small-semibold-line-height, 16px);

}

.button_1cd50b61 {

  align-items: center;
  border-radius: 4px;
  box-sizing: border-box;
  color: var(--brand-text-default);
  display: flex;
  flex-direction: row;
  font-family: var(--bodytext-small-semibold-font-family, "Open Sans");
  font-size: var(--bodytext-small-semibold-font-size, 14px);
  font-weight: var(--bodytext-small-semibold-font-weight, 600);
  gap: 0px;
  height: 32px;
  justify-content: center;
  line-height: var(--bodytext-small-semibold-line-height, 16px);
  padding: 8px 8px 8px 8px;
  width: 61px;

}

.frame_1000003627_5305f5d1 {

  align-items: center;
  border-bottom: 1px solid var(--borders-brand-primary-default);
  border-radius: 0px;
  box-sizing: border-box;
  color: var(--brand-text-default);
  display: flex;
  flex-direction: row;
  font-family: var(--bodytext-small-semibold-font-family, "Open Sans");
  font-size: var(--bodytext-small-semibold-font-size, 14px);
  font-weight: var(--bodytext-small-semibold-font-weight, 600);
  gap: 10px;
  height: 16px;
  justify-content: center;
  line-height: var(--bodytext-small-semibold-line-height, 16px);
  padding: 0px;
  width: 45px;

}

.button_446e7135 {

  box-sizing: border-box;
  color: var(--brand-text-default);
  font-family: var(--bodytext-small-semibold-font-family, "Open Sans");
  font-size: var(--bodytext-small-semibold-font-size, 14px);
  font-weight: var(--bodytext-small-semibold-font-weight, 600);
  line-height: var(--bodytext-small-semibold-line-height, 16px);

}