.tenent_logo_37883666 {

  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  gap: var(--spacing-8, 8px);
  height: 32px;
  width: 150px;

}

.marker_logo_1_53abab2f {

  box-sizing: border-box;
  display: block;
  flex-shrink: 0;
  height: 32px;
  width: 150px;

}

.vector_678a0d5 {

  box-sizing: border-box;

}