:root {
  /* Fill Color Tokens */
  --alert-success-success-text: #178737;
  --text-text: #292929;
  --alert-success-success-secondary-background: #e8f3eb;
  --text-subtleleast: #575757;
  --brand-background-primary-background: #004dcb;
  --surfaces-layer-05: #d9d9d9;
  --alert-critical-critical-text: #9c2227;
  --surfaces-layer-01: #ffffff;
  --text-text-on-color: #ffffff;
  --surfaces-background: #ffffff;
  --surfaces-layer-03: #e6e6e6;
  --theme-colors-blue-blue700: #002f7c;
  --brand-text-default: #004dcb;
  --brand-background-secondary-background: #ffffff;
  --brand-background-tertiary-background: #e6edfa;
  --text-title: #292929;
  --text-subtle: #3d3d3d;
  --alert-critical-critical-secondary-background: #fceaeb;
  --disabled-text: /* Color not found for style: Disabled/text */;
  --surfaces-layer-02: #f5f5f5;
  --color-roles---dark-disabled: #606060;
  --alert-critical-critical-primary-background: #c92830;
  --alert-success-success-primary-background: #178737;

  /* Border Color Tokens */
  --borders-alert-success-default: #105f27;
  --borders-default-border-light: #d9d9d9;
  --borders-default-border-strong: #b8b8b8;
  --borders-default-inverse: #ffffff;
  --borders-brand-primary-default: #004dcb;
  --borders-default-border-subtle: #e0e0e0;
  --borders-alert-critical-default: #9c2227;

  /* Text Style Tokens */
  --titles-pagetitle-semibold-font-family: 'Open Sans';
  --titles-pagetitle-semibold-font-weight: 600;
  --titles-pagetitle-semibold-font-size: 24px;
  --titles-pagetitle-semibold-line-height: 32.00px;
  --bodytext-regular-semibold-font-family: 'Open Sans';
  --bodytext-regular-semibold-font-weight: 600;
  --bodytext-regular-semibold-font-size: 16px;
  --bodytext-regular-semibold-line-height: 16.00px;
  --bodytext-small-medium-font-family: 'Open Sans';
  --bodytext-small-medium-font-weight: 500;
  --bodytext-small-medium-font-size: 14px;
  --bodytext-small-medium-line-height: 16.00px;
  --bodytext-large-semibold-font-family: 'Open Sans';
  --bodytext-large-semibold-font-weight: 600;
  --bodytext-large-semibold-font-size: 18px;
  --bodytext-large-semibold-line-height: 16.00px;
  --bodytext-regular-medium-font-family: 'Open Sans';
  --bodytext-regular-medium-font-weight: 500;
  --bodytext-regular-medium-font-size: 16px;
  --bodytext-regular-medium-line-height: 16.00px;
  --bodytext-extra-small-semibold-font-family: 'Open Sans';
  --bodytext-extra-small-semibold-font-weight: 600;
  --bodytext-extra-small-semibold-font-size: 12px;
  --bodytext-extra-small-semibold-line-height: 16.00px;
  --bodytext-small-semibold-font-family: 'Open Sans';
  --bodytext-small-semibold-font-weight: 600;
  --bodytext-small-semibold-font-size: 14px;
  --bodytext-small-semibold-line-height: 16.00px;
  --headers-h1-font-family: 'Open Sans';
  --headers-h1-font-weight: 600;
  --headers-h1-font-size: 40px;
  --headers-h1-line-height: 32.00px;
  --display-md-regular-font-family: 'Open Sans';
  --display-md-regular-font-weight: 400;
  --display-md-regular-font-size: 32px;
  --display-md-regular-line-height: 52.00px;
  --display-md-semibold-font-family: 'Open Sans';
  --display-md-semibold-font-weight: 600;
  --display-md-semibold-font-size: 32px;
  --display-md-semibold-line-height: 52.00px;
  --bodytext-regular-bold-font-family: 'Open Sans';
  --bodytext-regular-bold-font-weight: 700;
  --bodytext-regular-bold-font-size: 16px;
  --bodytext-regular-bold-line-height: 16.00px;
  --paragraphs-small-semibold-font-family: 'Open Sans';
  --paragraphs-small-semibold-font-weight: 600;
  --paragraphs-small-semibold-font-size: 14px;
  --paragraphs-small-semibold-line-height: 16.00px;
  --bodytext-small-bold-font-family: 'Open Sans';
  --bodytext-small-bold-font-weight: 700;
  --bodytext-small-bold-font-size: 14px;
  --bodytext-small-bold-line-height: 16.00px;
  --paragraphs-extrasmall-semibold-font-family: 'Open Sans';
  --paragraphs-extrasmall-semibold-font-weight: 600;
  --paragraphs-extrasmall-semibold-font-size: 12px;
  --paragraphs-extrasmall-semibold-line-height: 16.34px;
  --titles-headings-semibold-font-family: 'Open Sans';
  --titles-headings-semibold-font-weight: 600;
  --titles-headings-semibold-font-size: 22px;
  --titles-headings-semibold-line-height: 24.00px;
  --bodytext-large-bold-font-family: 'Open Sans';
  --bodytext-large-bold-font-weight: 700;
  --bodytext-large-bold-font-size: 18px;
  --bodytext-large-bold-line-height: 16.00px;
  --headers-h6-font-family: 'Open Sans';
  --headers-h6-font-weight: 600;
  --headers-h6-font-size: 18px;
  --headers-h6-line-height: 24.00px;
  --bodytext-extra-small-medium-font-family: 'Open Sans';
  --bodytext-extra-small-medium-font-weight: 500;
  --bodytext-extra-small-medium-font-size: 12px;
  --bodytext-extra-small-medium-line-height: 16.00px;

  /* Spacing Tokens */
  --spacing-0: 0px;
  --spacing-1: 1px;
  --spacing-1.25: 1.25px;
  --spacing-2: 2px;
  --spacing-3: 3px;
  --spacing-4: 4px;
  --spacing-5: 5px;
  --spacing-6: 6px;
  --spacing-7: 7px;
  --spacing-8: 8px;
  --spacing-10: 10px;
  --spacing-11: 11px;
  --spacing-12: 12px;
  --spacing-14: 14px;
  --spacing-16: 16px;
  --spacing-20: 20px;
  --spacing-22: 22px;
  --spacing-24: 24px;
  --spacing-32: 32px;
  --spacing-64: 64px;
  --spacing-111: 111px;
  --spacing-120: 120px;
  --spacing-908: 908px;
}