.table_141a036e {

  background-color: #ffffff;
  border-radius: 0px;
  box-shadow: 0px 1px 2px 0px #00000040;
  color: var(--text-subtleleast);
  display: flex;
  flex-direction: column;
  font-family: var(--bodytext-regular-semibold-font-family, "Open Sans");
  font-size: var(--bodytext-regular-semibold-font-size, 16px);
  font-weight: var(--bodytext-regular-semibold-font-weight, 600);
  gap: 0px;
  height: 140px;
  line-height: var(--bodytext-regular-semibold-line-height, 16px);
  padding: 0px;
  width: 641px;

}

.header_576dda98 {

  align-items: center;
  border-radius: 0px;
  color: var(--text-subtleleast);
  display: flex;
  flex-direction: row;
  font-family: var(--bodytext-regular-semibold-font-family, "Open Sans");
  font-size: var(--bodytext-regular-semibold-font-size, 16px);
  font-weight: var(--bodytext-regular-semibold-font-weight, 600);
  gap: 0px;
  height: 40px;
  line-height: var(--bodytext-regular-semibold-line-height, 16px);
  padding: 0px;
  width: 641px;

}

.table_head_362868fa {

  display: flex;

}

.rows_3405bfde {

  border-radius: 0px;
  color: var(--text-text);
  display: flex;
  flex-direction: column;
  font-family: var(--bodytext-regular-semibold-font-family, "Open Sans");
  font-size: var(--bodytext-regular-semibold-font-size, 16px);
  font-weight: var(--bodytext-regular-semibold-font-weight, 600);
  gap: 0px;
  height: 100px;
  line-height: var(--bodytext-regular-semibold-line-height, 16px);
  padding: 0px;
  width: 641px;

}

.row_29d2642d {

  align-items: center;
  border-radius: 0px;
  color: var(--brand-background-primary-background);
  display: flex;
  flex-direction: row;
  font-family: var(--bodytext-regular-semibold-font-family, "Open Sans");
  font-size: var(--bodytext-regular-semibold-font-size, 16px);
  font-weight: var(--bodytext-regular-semibold-font-weight, 600);
  gap: 0px;
  height: 50px;
  line-height: var(--bodytext-regular-semibold-line-height, 16px);
  padding: 0px;
  width: 641px;

}

.table_head_1d987343 {

  align-items: center;
  background-color: var(--surfaces-layer-03);
  border-bottom: 1px solid var(--borders-default-border-strong);
  border-radius: 0px;
  color: var(--text-subtleleast);
  display: flex;
  flex-direction: row;
  font-family: var(--bodytext-regular-semibold-font-family, "Open Sans");
  font-size: var(--bodytext-regular-semibold-font-size, 16px);
  font-weight: var(--bodytext-regular-semibold-font-weight, 600);
  gap: 8px;
  height: 40px;
  line-height: var(--bodytext-regular-semibold-line-height, 16px);
  padding: 12px 16px 12px 12px;
  width: 206px;

}

.table_head_1efb7916 {

  align-items: center;
  background-color: var(--surfaces-layer-03);
  border-bottom: 1px solid var(--borders-default-border-strong);
  border-radius: 0px;
  color: var(--text-subtleleast);
  display: flex;
  flex-direction: row;
  font-family: var(--bodytext-regular-semibold-font-family, "Open Sans");
  font-size: var(--bodytext-regular-semibold-font-size, 16px);
  font-weight: var(--bodytext-regular-semibold-font-weight, 600);
  gap: 8px;
  height: 40px;
  line-height: var(--bodytext-regular-semibold-line-height, 16px);
  padding: 12px 16px 12px 12px;
  width: 160px;

}

.table_head_1f221ca1 {

  align-items: center;
  background-color: var(--surfaces-layer-03);
  border-bottom: 1px solid var(--borders-default-border-strong);
  border-radius: 0px;
  color: var(--text-subtleleast);
  display: flex;
  flex-direction: row;
  font-family: var(--bodytext-regular-semibold-font-family, "Open Sans");
  font-size: var(--bodytext-regular-semibold-font-size, 16px);
  font-weight: var(--bodytext-regular-semibold-font-weight, 600);
  gap: 8px;
  height: 40px;
  line-height: var(--bodytext-regular-semibold-line-height, 16px);
  padding: 12px 16px 12px 12px;
  width: 138px;

}

.table_cell_42a8541a {

  align-items: center;
  background-color: var(--table-fill-light);
  border-bottom: 1px solid var(--borders-default-border-light);
  border-radius: 0px;
  color: var(--brand-background-primary-background);
  display: flex;
  flex-direction: row;
  font-family: var(--bodytext-regular-semibold-font-family, "Open Sans");
  font-size: var(--bodytext-regular-semibold-font-size, 16px);
  font-weight: var(--bodytext-regular-semibold-font-weight, 600);
  gap: 10px;
  height: 50px;
  line-height: var(--bodytext-regular-semibold-line-height, 16px);
  padding: 12px undefinedpx 12px 12px;
  width: 211px;

}

.table_cell_7c490c5d {

  align-items: center;
  background-color: var(--table-fill-light);
  border-bottom: 1px solid var(--borders-default-border-subtle);
  border-radius: 0px;
  color: var(--text-text);
  display: flex;
  flex-direction: row;
  font-family: var(--bodytext-regular-semibold-font-family, "Open Sans");
  font-size: var(--bodytext-regular-semibold-font-size, 16px);
  font-weight: var(--bodytext-regular-semibold-font-weight, 600);
  gap: 10px;
  height: 50px;
  line-height: var(--bodytext-regular-semibold-line-height, 16px);
  padding: 12px undefinedpx 12px 12px;
  width: 157px;

}

.table_cell_7c1fae98 {

  align-items: center;
  background-color: var(--table-fill-light);
  border-bottom: 1px solid var(--borders-default-border-subtle);
  border-radius: 0px;
  color: var(--text-text);
  display: flex;
  flex-direction: row;
  font-family: var(--bodytext-regular-semibold-font-family, "Open Sans");
  font-size: var(--bodytext-regular-semibold-font-size, 16px);
  font-weight: var(--bodytext-regular-semibold-font-weight, 600);
  gap: 10px;
  height: 50px;
  line-height: var(--bodytext-regular-semibold-line-height, 16px);
  padding: 12px undefinedpx 12px 12px;
  width: 129px;

}

.table_cell_7501760e {

  align-items: center;
  background-color: var(--table-fill-light);
  border-bottom: 1px solid var(--borders-default-border-light);
  border-radius: 0px;
  color: var(--alert-success-success-text);
  display: flex;
  flex-direction: row;
  font-family: "Font Awesome 6 Pro";
  font-size: 12px;
  font-weight: 300;
  gap: 8px;
  height: 50px;
  line-height: 12px;
  padding: 12px undefinedpx 12px 12px;
  width: 144px;

}

.table_cell_3fb948d6 {

  align-items: center;
  background-color: var(--table-fill-dark);
  border-bottom: 1px solid var(--borders-default-border-light);
  border-radius: 0px;
  color: var(--brand-background-primary-background);
  display: flex;
  flex-direction: row;
  font-family: var(--bodytext-regular-semibold-font-family, "Open Sans");
  font-size: var(--bodytext-regular-semibold-font-size, 16px);
  font-weight: var(--bodytext-regular-semibold-font-weight, 600);
  gap: 10px;
  height: 50px;
  line-height: var(--bodytext-regular-semibold-line-height, 16px);
  padding: 12px undefinedpx 12px 12px;
  width: 211px;

}

.table_cell_394028b3 {

  align-items: center;
  background-color: var(--table-fill-dark);
  border-bottom: 1px solid var(--borders-default-border-subtle);
  border-radius: 0px;
  color: var(--text-text);
  display: flex;
  flex-direction: row;
  font-family: var(--bodytext-regular-semibold-font-family, "Open Sans");
  font-size: var(--bodytext-regular-semibold-font-size, 16px);
  font-weight: var(--bodytext-regular-semibold-font-weight, 600);
  gap: 10px;
  height: 50px;
  line-height: var(--bodytext-regular-semibold-line-height, 16px);
  padding: 12px undefinedpx 12px 12px;
  width: 157px;

}

.table_cell_39698678 {

  align-items: center;
  background-color: var(--table-fill-dark);
  border-bottom: 1px solid var(--borders-default-border-subtle);
  border-radius: 0px;
  color: var(--text-text);
  display: flex;
  flex-direction: row;
  font-family: var(--bodytext-regular-semibold-font-family, "Open Sans");
  font-size: var(--bodytext-regular-semibold-font-size, 16px);
  font-weight: var(--bodytext-regular-semibold-font-weight, 600);
  gap: 10px;
  height: 50px;
  line-height: var(--bodytext-regular-semibold-line-height, 16px);
  padding: 12px undefinedpx 12px 12px;
  width: 129px;

}

.table_cell_41bae71e {

  align-items: center;
  background-color: var(--table-fill-dark);
  border-bottom: 1px solid var(--borders-default-border-light);
  border-radius: 0px;
  color: var(--alert-success-success-text);
  display: flex;
  flex-direction: row;
  font-family: "Font Awesome 6 Pro";
  font-size: 12px;
  font-weight: 300;
  gap: 8px;
  height: 50px;
  line-height: 12px;
  padding: 12px undefinedpx 12px 12px;
  width: 144px;

}