.default_3d3fc1c3 {

  border-radius: 77px;
  box-shadow: 0px 2px 4px 0px #00230b33;
  box-sizing: border-box;
  display: block;
  flex-shrink: 0;
  height: 18px;
  width: 18px;

}

.rectangle_3_1901d621 {

  background-color: #307bf6;
  border-radius: var(--radius-16, 16px);
  box-sizing: border-box;
  display: block;
  flex-shrink: 0;
  height: 18px;
  width: 18px;

}